name: Build APK
on:
  workflow_dispatch:
    inputs:
      build_type:
        description: 'Build type'
        required: true
        default: 'debug'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'
      - name: Grant execute permission
        run: chmod +x ./gradlew
      - name: Build APK
        run: ./gradlew assemble${{ github.event.inputs.build_type }}
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-${{ github.event.inputs.build_type }}.apk
          path: app/build/outputs/apk/${{ github.event.inputs.build_type }}/*.apk